{% load static %}

<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta name="description" content="bootstrap material admin template" />
    <meta name="author" content="" />

    <title>{{ title }} | Profil Aləmi</title>

    <link rel="apple-touch-icon" href="{% static 'assets/images/apple-touch-icon.png' %}" />
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-extend.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/site.min.css' %}" />

    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'assets/vendor/animsition/animsition.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/asscrollable/asScrollable.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/switchery/switchery.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/intro-js/introjs.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/slidepanel/slidePanel.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/flag-icon-css/flag-icon.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/waves/waves.css' %}" />

    <style>
      .page-error .error-mark {
        margin-bottom: 33px; 
      }
      
      .page-error header h1 {
        font-size: 10em;
        font-weight: 400; 
      }
      
      .page-error header p {
        margin-bottom: 30px;
        font-size: 30px;
        text-transform: uppercase; 
      }
      
      .page-error h2 {
        margin-bottom: 30px; 
      }
      
      .page-error .error-advise {
        margin-bottom: 25px;
        color: #A9AFB5; 
      }
    </style>

    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'assets/fonts/material-design/material-design.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/fonts/brand-icons/brand-icons.min.css' %}" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic" />

    <!--[if lt IE 9]>
      <script src="{% static 'assets/vendor/html5shiv/html5shiv.min.js' %}"></script>
    <![endif]-->

    <!--[if lt IE 10]>
      <script src="{% static 'assets/vendor/media-match/media.match.min.js' %}"></script>
      <script src="{% static 'assets/vendor/respond/respond.min.js' %}"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="{% static 'assets/vendor/breakpoints/breakpoints.js' %}"></script>
    <script>
      Breakpoints();
    </script>
  </head>
  <body class="animsition page-error page-error-505 layout-full">
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    
    <!-- Page -->
    <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
      <div class="page-content vertical-align-middle">
        <header>
          <h1 class="animation-slide-top">503</h1>
          <p>Servis işləmir!</p>
        </header>
        <p class="error-advise">Zəhmət olmasa administrator ilə əlaqə saxlayın. <br> Hələlik Ana səhifəyə qayıdın!</p>
        <a class="btn btn-primary btn-round" href="{% url 'core:home' %}">Ana Səhifə</a>

        <footer class="page-copyright">
          <p>DEVELOPED and DESIGNED BY CodeShift</p>
          <p>© {% now "Y" %}. ALL RIGHT RESERVED.</p>
        </footer>
      </div>
    </div>
    <!-- End Page -->

    
    <!-- Core  -->
    <script src="{% static 'assets/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/popper-js/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/animsition/animsition.js' %}"></script>
    <script src="{% static 'assets/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
    <script src="{% static 'assets/vendor/asscrollbar/jquery-asScrollbar.js' %}"></script>
    <script src="{% static 'assets/vendor/asscrollable/jquery-asScrollable.js' %}"></script>
    <script src="{% static 'assets/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>
    <script src="{% static 'assets/vendor/waves/waves.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/vendor/switchery/switchery.js' %}"></script>
    <script src="{% static 'assets/vendor/intro-js/intro.js' %}"></script>
    <script src="{% static 'assets/vendor/screenfull/screenfull.js' %}"></script>
    <script src="{% static 'assets/vendor/slidepanel/jquery-slidePanel.js' %}"></script>

    <!-- Scripts -->
    <script src="{% static 'assets/js/component.js' %}"></script>
    <script src="{% static 'assets/js/plugin.js' %}"></script>
    <script src="{% static 'assets/js/base.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>

    <script src="{% static 'assets/js/section/menubar.js' %}"></script>
    <script src="{% static 'assets/js/section/gridMenu.js' %}"></script>
    <script src="{% static 'assets/js/section/sidebar.js' %}"></script>
    <script src="{% static 'assets/js/section/pageAside.js' %}"></script>
    <script src="{% static 'assets/js/plugin/menu.js' %}"></script>

    <script src="{% static 'assets/js/config/colors.js' %}"></script>
    <script src="{% static 'assets/js/config/tour.js' %}"></script>
    <script>
      Config.set("assets", "assets");
    </script>

    <!-- Page -->
    <script src="{% static 'assets/js/site.js' %}"></script>
    <script src="{% static 'assets/js/plugin/asscrollable.js' %}"></script>
    <script src="{% static 'assets/js/plugin/slidepanel.js' %}"></script>
    <script src="{% static 'assets/js/plugin/switchery.js' %}"></script>

    <script>
      (function (document, window, $) {
        "use strict";

        var Site = window.Site;
        $(document).ready(function () {
          Site.run();
        });
      })(document, window, jQuery);
    </script>
  </body>
</html>
